@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

h1 {
  color: hsl(228, 39%, 23%);
}

h2 {
  color: hsl(228, 39%, 23%);
}

h3 {
  color: hsl(228, 39%, 23%);
}

p {
  color: rgba(0, 0, 0, 0.5);
}

.site--navigation {
  display: flex;
  width: 100%;
  height: 5.5rem;
  position: fixed;
  top: 0;
  z-index: 120;
  padding: 1.25rem;
}

.site--navigation {
  color: hsl(228, 39%, 23%);
  align-items: center;
  justify-content: space-between;
}
.site--navigation--toggle {
  width: 1.2rem;
}
.site--navigation .btn {
  display: none;
}
.site--navigation ul {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 7.5rem;
  width: 80%;
  background-color: #fff;
  box-shadow: 0.275rem 0.5rem 0.5rem rgba(0, 0, 0, 0.45);
  border-radius: 0.6rem;
  padding: 0.75rem;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.site--navigation ul li {
  font-weight: 400;
  margin-bottom: 1rem;
}
.site--navigation ul li:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media (min-width: 800px) {
  .site--navigation {
    justify-content: space-evenly;
  }
  .site--navigation ul {
    display: flex;
    position: relative;
    top: 0;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    width: auto;
  }
  .site--navigation ul li {
    margin-right: 1.25rem;
  }
  .site--navigation .btn {
    display: block;
  }
  .site--navigation--toggle {
    display: none;
  }
}

.hero--section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 8rem;
  padding: 0.5rem;
}
.hero--section--z--img {
  position: absolute;
  z-index: -20;
  top: -30rem;
  right: -60%;
}
.hero--section--img {
  width: 80%;
  margin: 0 auto;
}
.hero--section--img img {
  width: 100%;
}
.hero--section--content {
  text-align: center;
  width: 100%;
}
.hero--section--content h1 {
  font-size: 2.2rem;
}
.hero--section--content p {
  width: 80%;
  margin: 1rem auto;
}
.hero--section--content .btn {
  width: 40%;
  max-width: 190px;
  min-width: 80px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .hero--section--content h1 {
    font-size: 2.55rem;
  }
}
@media (min-width: 1000px) {
  .hero--section {
    flex-direction: row-reverse;
    align-items: center;
    padding: 5rem;
    height: 450px;
  }
  .hero--section--z--img {
    position: absolute;
    z-index: -20;
    top: -20rem;
    right: -10%;
  }
  .hero--section--img {
    width: 50%;
    margin: 0;
  }
  .hero--section--content {
    text-align: left;
    width: 50%;
  }
  .hero--section--content h1 {
    font-size: calc(3rem - 0.5vw);
    font-weight: 700;
  }
  .hero--section--content p {
    width: 50%;
    margin: 0 0 1rem 0;
  }
  .hero--section--content .btn {
    margin: 0;
  }
}

.features--section {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  padding-left: 3rem;
}
.features--section--left {
  text-align: center;
}
.features--section--left h2 {
  font-size: 1.85rem;
}
.features--section--left p {
  width: 80%;
  margin: 0 auto;
}
.features--section--right {
  margin-left: auto;
}
.features--section--right h1 {
  color: hsl(223, 12%, 13%);
  font-size: 1.05rem;
  font-weight: 700;
  background-color: hsl(13, 100%, 96%);
  border-radius: 1.5rem 0 0 1.5rem;
  padding: 0.5rem 1rem;
}
.features--section--right h1 span {
  padding: 0.5rem 1rem;
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  border-radius: 3rem;
  margin-left: -0.875rem;
  margin-right: 0.5rem;
}
.features--section--right p {
  width: 80%;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 800px) {
  .features--section {
    flex-direction: row;
  }
  .features--section--left {
    text-align: left;
  }
  .features--section--left p {
    width: 70%;
    margin: 0;
  }
  .features--section--right {
    margin-left: 2rem;
  }
  .features--section--right h1 {
    background-color: transparent;
    padding: 0;
  }
  .features--section--right p {
    margin-left: 3rem;
  }
  .features--section--right span {
    margin-right: 0.5rem;
    margin-left: 0;
  }
}

.btn {
  background-color: hsl(12, 88%, 59%);
  font-weight: 700;
  padding: 0.75rem 1.25rem;
  color: hsl(0, 0%, 98%);
  border-radius: 2rem;
  text-align: center;
  display: block;
  box-shadow: 0.25rem 0.3rem 0.75rem rgba(242, 95, 58, 0.8);
}

.btn-sm {
  background-color: hsl(12, 88%, 59%);
  font-weight: 700;
  padding: 0.25rem 0.75rem;
  color: hsl(0, 0%, 98%);
  border-radius: 2rem;
  text-align: center;
  display: block;
  box-shadow: 0.25rem 0.3rem 0.75rem rgba(242, 95, 58, 0.8);
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  height: 2rem;
}

.btn-white {
  background-color: #fff;
  font-weight: 700;
  padding: 1rem 1.5rem;
  color: hsl(12, 88%, 59%);
  border-radius: 2rem;
  text-align: center;
  display: block;
  box-shadow: 0.25rem 0.3rem 0.75rem rgba(255, 255, 255, 0.8);
  box-shadow: none;
}

.active {
  background-color: hsl(12, 88%, 59%) !important;
}

.testimonal--section--container {
  margin-top: 6rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1000px) {
  .testimonal--section--container {
    margin-top: 8rem;
  }
}
.testimonal--section--container h2 {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 5rem;
}
.testimonal--section--z--img {
  display: none;
  position: absolute;
  z-index: -20;
  top: -5.9rem;
  left: -30rem;
}
@media (min-width: 800px) {
  .testimonal--section--z--img {
    display: block;
  }
}
.testimonal--section--carousel--container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.testimonal--section--carousel--container .paginate--container {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.testimonal--section--carousel--container .paginate--container .paginate--button {
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid hsl(12, 88%, 59%);
  margin-right: 0.875rem;
  background-color: transparent;
  transition: background-color ease-in 0.3s;
  cursor: pointer;
}
.testimonal--section--carousel--container .btn-sm {
  display: none;
}
@media (min-width: 1000px) {
  .testimonal--section--carousel--container .paginate--container {
    display: none;
  }
  .testimonal--section--carousel--container .btn-sm {
    display: flex;
  }
  .testimonal--section--carousel--container .btn-sm:nth-child(1) {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    bottom: 0;
  }
  .testimonal--section--carousel--container .btn-sm:last-child {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    bottom: 0;
  }
}
.testimonal--section--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-shrink: 0;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3rem;
  background-color: hsl(0, 0%, 98%);
  padding: 0.5rem 2.375rem;
  height: 15rem;
  position: relative;
  text-align: center;
  border-radius: 2.5rem;
}
@media (min-width: 1000px) {
  .testimonal--section--card {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.testimonal--section--card h3 {
  margin-bottom: 0;
}
.testimonal--section--card figure {
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 4.5rem;
  width: 4.5rem;
}
.testimonal--section--card figure img {
  height: 100%;
  width: 100%;
}

.top--footer {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  z-index: -7;
  width: 100%;
  justify-content: space-between;
  background-color: hsl(12, 88%, 59%);
  margin-top: 3.375rem;
  padding: 2.5rem;
  align-items: center;
}
@media (min-width: 1000px) {
  .top--footer {
    display: flex;
    flex-direction: row;
    height: 15rem;
    text-align: left;
  }
}
.top--footer figure {
  display: none;
}
@media (min-width: 1000px) {
  .top--footer figure {
    display: block;
  }
}
.top--footer--z--img--1, .top--footer--z--img--2 {
  position: absolute;
  width: 700px;
  opacity: 0.1;
}
.top--footer--z--img--1 img, .top--footer--z--img--2 img {
  width: 80%;
}
.top--footer--z--img--1 {
  z-index: -5;
  left: -2rem;
  top: -1.2rem;
  height: 18rem;
  overflow: hidden;
}
.top--footer--z--img--2 {
  right: -31.5rem;
  z-index: -6;
  top: -26.8rem;
  height: 25rem;
}
.top--footer h3 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 2.85rem;
  padding-left: 3rem;
}
@media (min-width: 1000px) {
  .top--footer h3 {
    font-size: 2.65rem;
  }
}
.top--footer .btn-white {
  margin-right: 3.75rem;
}