
@mixin btn($bg-color:$bright-red,$size:$base-padding+1, $color:$very-light-gray){
background-color: $bg-color;
font-weight: $f-w-700;
padding:$size - 0.5  $size;
color:$color;
border-radius: $base-rounded *4;
text-align:center;
display:block;
box-shadow: $base-padding $base-padding*1.2 $base-padding*3 rgba($bg-color,0.8);
}
.btn{
    @include btn;
}
.btn-sm{
    @include btn($bright-red,$base-padding+0.5, $very-light-gray);
flex-direction: column;
justify-content: center;
font-size:$base-font-size  + 0.3;
height: $base-font-size + 1;
}
.btn-white{
    @include btn($white, $base-padding + 1.25, $bright-red);
    box-shadow: none;
}