.footer{
    background-color: $very-dark-blue;
    @include flex--container(column-reverse);
    padding: $base-padding + 3;
    align-items: center;
    text-align: center;
    fill:$white;
   h1,p{
    color: $white;
    cursor: pointer;
    &:hover{
     color:$bright-red;
    }
   }
   /*&--child--3,&--child--2{
   
   }*/
   img{
    &:hover{
        fill: $bright-red;
    }
   }
   &--child--3 p:last-child{
    opacity:0;
    display:none;
   }
   &--child--1 div img {
    margin-right: $base-margin + 0.75;
   }
   &--child--1  div, &--child--4 p{
    margin-top: $base-margin + 1.25; 
   }
   .btn-sm{
    display:inline;
    outline: none;
    border:none;
    padding:$base-padding + 1.15rem;
    font-size:$base-font-size * 0.8;
    box-shadow: none;
   }
   input{
    padding: $base-padding + 0.65rem;
    border-radius : $base-rounded + 0.9;
    outline: none;
    border:none;
    
   }
   @include md{
    &{
        @include flex--container(row);
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: $base-padding + 3 $base-padding + 5;
    }
    input{
        margin-right:$base-margin * 2.5;
    }
    &--child--3 p:last-child{
        display:block;
       }
       &--child--1  div, &--child--4 p{
        margin-top: $base-margin + 4.25; 
       }
   }
}
.attribution{
    text-align: center;
    background-color: $dark-blue;
    padding:$base-padding + 0.5;
    color:$white;
    a{
        color: rgba($white, 0.5);
    }
}
