$bright-red: hsl(12,88%,59%);
$dark-blue:hsl(228,39%,23%);
$very-dark-blue: hsl(223,12%,13%);
$very-pale-red: hsl(13,100%,96%);
$very-light-gray: hsl(0,0%,98%);
$white:#fff;
$black:#000;
$base-font-size:1rem;
$f-w-400: 400;
$f-w-500:500;
$f-w-700:700;
$base-margin:0.25rem;
$base-padding:0.25rem;
$base-rounded:0.5rem;